<%= form_with(model: api_registro_medicion, local: true) do |form| %>
  <% if api_registro_medicion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_registro_medicion.errors.count, "error") %> prohibited this api_registro_medicion from being saved:</h2>

      <ul>
      <% api_registro_medicion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor, id: :api_registro_medicion_valor %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :api_registro_medicion_tipo %>
  </div>

  <div class="field">
    <%= form.label :unidad %>
    <%= form.text_field :unidad, id: :api_registro_medicion_unidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
