<p id="notice"><%= notice %></p>

<h1>Api Registro Mediciones</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Tipo</th>
      <th>Unidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_registro_mediciones.each do |api_registro_medicion| %>
      <tr>
        <td><%= api_registro_medicion.valor %></td>
        <td><%= api_registro_medicion.tipo %></td>
        <td><%= api_registro_medicion.unidad %></td>
        <td><%= link_to 'Show', api_registro_medicion %></td>
        <td><%= link_to 'Edit', edit_api_registro_medicion_path(api_registro_medicion) %></td>
        <td><%= link_to 'Destroy', api_registro_medicion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Registro Medicion', new_api_registro_medicion_path %>
