<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @api_registro_medicion.valor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @api_registro_medicion.tipo %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @api_registro_medicion.unidad %>
</p>

<%= link_to 'Edit', edit_api_registro_medicion_path(@api_registro_medicion) %> |
<%= link_to 'Back', api_registro_mediciones_path %>
