<p id="notice"><%= notice %></p>

<h1>Registro Mediciones</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Tipo</th>
      <th>Unidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registro_mediciones.each do |registro_medicion| %>
      <tr>
        <td><%= registro_medicion.valor %></td>
        <td><%= registro_medicion.tipo %></td>
        <td><%= registro_medicion.unidad %></td>
        <td><%= link_to 'Show', registro_medicion %></td>
        <td><%= link_to 'Edit', edit_registro_medicion_path(registro_medicion) %></td>
        <td><%= link_to 'Destroy', registro_medicion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registro Medicion', new_registro_medicion_path %>
